<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styles */
        .login-card {
            background-color: #000;
            color: #fff;
        }
        .login-card .form-group label {
            color: #fff; /* Ensures label text is white */
        }
        .login-card .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
    </style>
</head>
<body>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                    {% for message in messages %}
                        <li class="alert alert-success">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5 login-card" >
                    <div class="card-body">
                         <div class="text-center mb-3">
                            <img src="logo.png" alt="Logo" class="logo">
                        </div>
                        <h3 class="card-title text-center">Login</h3>
                        <form method="POST" action="{{ url_for('user_views.authenticate') }}">
                            <div class="form-group row">
                                <label  class="col-sm-3 col-form-label">CPF</label>
                                <div class="col-sm-9">
                                    <input type="text" id="cpf" name="cpf"></div>
                                </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Data Nascimento</label>
                                <div class="col-sm-9">
                                    <input type="date" id="birthdate" name="birthdate">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                        <div class="text-center mt-3">
                            <p class="text-white">Nao cadastrado?</p>
                            <a href="{{ url_for('user_views.new_user') }}" class="text-white">cadastre-se</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>